In [1]:
import pandas as pd

In [17]:
# first method for creating a dataframe
df=pd.DataFrame({
    "a":[1,2,3,4],
    "b":[5,6,7,8],
    "c":[10,11,12,13]
},index=[1,2,3,4])
df

   a  b   c
1  1  5  10
2  2  6  11
3  3  7  12
4  4  8  13

In [4]:
# second method for creating a dataframe
df=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],index=["A","B","C"],columns=["AA","BB","CC"])
df

   AA  BB  CC
A   1   2   3
B   4   5   6
C   7   8   9

In [18]:
# create a dataframe multi index 
t=[('d',"one"),('r',"two"),('e',"three"),("g","four")]
df=pd.DataFrame({
    "a":[1,2,3,4],
    "b":[5,6,7,8],
    "c":[10,11,12,13]
},index=pd.MultiIndex.from_tuples(t,names=['n','v']))
df

         a  b   c
n v
d one    1  5  10
r two    2  6  11
e three  3  7  12
g four   4  8  13