In [1]:
import pandas as pd

In [3]:
df=pd.DataFrame({
    "name":["jay","kripc","chintan","shubham","samay"],
    "goodornot":["good","good","good","not good","bad"],
    "girlfriend":["no","yes","yes","yes","yes"]
},index=[1,2,3,4,5])
df

      name goodornot girlfriend
1      jay      good         no
2    kripc      good        yes
3  chintan      good        yes
4  shubham  not good        yes
5    samay       bad        yes

In [25]:
df.groupby(["girlfriend"]).mean()

C:\Users\30077236\AppData\Local\Temp\ipykernel_24344\3773265332.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df.groupby(["girlfriend"]).mean()

Empty DataFrame
Columns: []
Index: [no, yes]

In [28]:
df.groupby(level=0).mean()

C:\Users\30077236\AppData\Local\Temp\ipykernel_24344\3857798326.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df.groupby(level=0).mean()

Empty DataFrame
Columns: []
Index: [1, 2, 3, 4, 5]

In [31]:
df.groupby(["girlfriend"]).size()

girlfriend
no     1
yes    4
dtype: int64

In [32]:
df.groupby(["girlfriend"]).count()

            name  goodornot
girlfriend
no             1          1
yes            4          4