In [1]:
import pandas as pd

In [2]:
df=pd.DataFrame({
    "name":["jay","kripc","chintan","shubham","samay"],
    "goodornot":["good","good","good","not good","bad"],
    "girlfriend":["no","yes","yes","yes","yes"]
},index=[1,2,3,4,5])
df

      name goodornot girlfriend
1      jay      good         no
2    kripc      good        yes
3  chintan      good        yes
4  shubham  not good        yes
5    samay       bad        yes

In [9]:
df.assign(loyalornot = lambda df:df["girlfriend"]+" "+df["goodornot"])

      name goodornot girlfriend loveisblind    loyalornot
1      jay      good         no        good       no good
2    kripc      good        yes        good      yes good
3  chintan      good        yes        good      yes good
4  shubham  not good        yes    not good  yes not good
5    samay       bad        yes         bad       yes bad

In [10]:
df["loveisblind"]=df["goodornot"]
df

      name goodornot girlfriend loveisblind
1      jay      good         no        good
2    kripc      good        yes        good
3  chintan      good        yes        good
4  shubham  not good        yes    not good
5    samay       bad        yes         bad

In [15]:
df["name"]

1        jay
2      kripc
3    chintan
4    shubham
5      samay
Name: name, dtype: object

In [20]:
df.columns

Index(['name', 'goodornot', 'girlfriend', 'loveisblind'], dtype='object')