In [1]:
import pandas as pd

In [5]:
adf=pd.DataFrame({
    "x1":["A","B","C"],
    "x2":[1,2,3]
})
bdf=pd.DataFrame({
    "x1":["A","B","D"],
    "x3":[True,False,True]
})
print(adf)
print(bdf)

  x1  x2
0  A   1
1  B   2
2  C   3
  x1     x3
0  A   True
1  B  False
2  D   True

In [6]:
pd.merge(adf,bdf,how="left",on="x1")

  x1  x2     x3
0  A   1   True
1  B   2  False
2  C   3    NaN

In [7]:
pd.merge(adf,bdf,how="right",on="x1")

  x1   x2     x3
0  A  1.0   True
1  B  2.0  False
2  D  NaN   True

In [8]:
pd.merge(adf,bdf,how="inner",on="x1")

  x1  x2     x3
0  A   1   True
1  B   2  False

In [9]:
pd.merge(adf,bdf,how="outer",on="x1")

  x1   x2     x3
0  A  1.0   True
1  B  2.0  False
2  C  3.0    NaN
3  D  NaN   True

In [10]:
adf[adf.x1.isin(bdf.x1)]

  x1  x2
0  A   1
1  B   2

In [11]:
adf[~adf.x1.isin(bdf.x1)]

  x1  x2
2  C   3

In [16]:
#set like operation
a1df=pd.DataFrame({
    "x1":["A","B","C"],
    "x2":[1,2,3]
})
b1df=pd.DataFrame({
    "x1":["A","B","D"],
    "x2":[1,2,5]
})

In [17]:
pd.merge(a1df,b1df)

  x1  x2
0  A   1
1  B   2

In [18]:
pd.merge(a1df,b1df,how="outer")

  x1  x2
0  A   1
1  B   2
2  C   3
3  D   5