In [1]:
import pandas as pd

In [22]:
df=pd.DataFrame({
    "a":[4,9,1,20],
    "b":[5,6,7,8],
    "c":[10,11,12,13]
},index=[10,21,3,40])

In [24]:
x=df.sort_values('a')
x

     a  b   c
3    1  7  12
10   4  5  10
21   9  6  11
40  20  8  13

In [25]:
y=df.sort_values('a',ascending=False)
y

     a  b   c
40  20  8  13
21   9  6  11
10   4  5  10
3    1  7  12

In [20]:
z=df.rename(columns={"a":"this is a"})
z

   this is a  b   c
1          4  5  10
2          9  6  11
3          1  7  12
4         20  8  13

In [26]:
z1=df.sort_index()
z1

     a  b   c
3    1  7  12
10   4  5  10
21   9  6  11
40  20  8  13

In [27]:
# moving a index as column and add raw number index
z2=df.reset_index()
z2

   index   a  b   c
0     10   4  5  10
1     21   9  6  11
2      3   1  7  12
3     40  20  8  13

In [28]:
z3=df.drop(columns=['a'])
z3

    b   c
10  5  10
21  6  11
3   7  12
40  8  13