In [1]:
import pandas as pd

In [9]:
df=pd.DataFrame([[1,2,3],[5,6,7],[1,2,3],[11,12,13]],index=[1,2,3,4])
df

    0   1   2
1   1   2   3
2   5   6   7
3   1   2   3
4  11  12  13

In [10]:
df.drop_duplicates()

    0   1   2
1   1   2   3
2   5   6   7
4  11  12  13

In [15]:
df.sample(frac=0.5)

   0  1  2
2  5  6  7
3  1  2  3

In [16]:
df.sample(n=2)

    0   1   2
4  11  12  13
1   1   2   3

In [20]:
df.nlargest(3,0)

    0   1   2
4  11  12  13
2   5   6   7
1   1   2   3

In [21]:
df.nsmallest(2,1)

   0  1  2
1  1  2  3
3  1  2  3

In [23]:
df.head(2)

   0  1  2
1  1  2  3
2  5  6  7

In [24]:
df.tail(3)

    0   1   2
2   5   6   7
3   1   2   3
4  11  12  13

In [26]:
df[[0,2]]

    0   2
1   1   3
2   5   7
3   1   3
4  11  13

In [29]:
df.filter(regex="[0-1]")

    0   1
1   1   2
2   5   6
3   1   2
4  11  12

In [30]:
df.iloc[1:2]

   0  1  2
2  5  6  7

In [31]:
df.iloc[:,[1,2,0]]

    1   2   0
1   2   3   1
2   6   7   5
3   2   3   1
4  12  13  11

In [32]:
df[0][1]

1

In [33]:
df.at[1,2]

3